#main {

}
.picture {
    height: 50px;
    width: 50px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}
.pic2 {
    border: 10px solid #FFFFE0;
    width: 50%;
}
h1 {
    color: #006400;
    text-align: center;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    background-image: linear-gradient(to bottom right, rgb(0, 2, 128), rgb(192, 239, 255)); ;
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav >li {
    display: inline-block;
    padding: 0 12px;
}
#nav {
    position: relative;
}
#nav >li >a {
    color: #fff;
}
#nav li a {
    text-decoration: none;
    line-height: 40px;
    padding: 0 52px;
    display: block;
    border-radius: 5px 40px;
    border: 3px solid #fff ;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li a{
    width: 75px;
    height: 60px;
    background-color: #FF8C00;
    border-radius: 59% 41% 71% 29% / 35% 29% 71% 65% ;
    text-align: center;
}
#nav > li:hover > a{
    color: #fff;
    background-color: #FFD700;
}
#nav .subnav{
    display: none;
    position: absolute;
    min-width: 160px;
    bottom: 100%;
}
