body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}   

#header {
    height: 40px;
    background-color: blue;

}
#header .navbar {
    list-style-type: none;
}
#header .navbar li {
    float: left;
    margin: 0 4px;
}
#header .navbar li a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    padding: 0 8px;
}

#tittle {
    color: #6A5ACD;
}
#content-write, .content {
    line-height: 1.4;
}
.content .picture {
    width: 100%;
}